.yes {
  font-family: 'Material Icons';
  color: #4CAF50;
  font-size: 16px;
  width: 16px;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
}

.yes::before {
  content: 'check_circle';
}

.maybe {
  font-family: 'Material Icons';
  color: #ffa000;
  font-size: 16px;
  width: 16px;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
}

.maybe::before {
  content: 'check_circle';
}

.no {
  font-family: 'Material Icons';
  color: #d32f2f;
  font-size: 16px;
  width: 16px;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
}

.no::before {
  content: 'cancel';
}

.material-icons {
  font-family: 'Material Icons';
  font-style: normal;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  margin: -8px;
}

.card {
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.05),0 1px 3px 1px rgba(60, 64, 67, 0.15);
  padding: 16px;
  border-radius: 4px;
  margin: 8px;
  width: calc(50% - 16px);
  color: rgba(0,0,0,.54) !important;
  display: flex;
}

@media screen and (max-width: 600px) {
  .card {
    width: calc(100% - 16px);
  }
}

a.card {
  transition: box-shadow 280ms ease-in-out !important;
}

a.card:hover {
  box-shadow: 0 1px 3px 0 rgba(1, 67, 163, 0.05),0 4px 8px 3px rgba(1, 67, 163, 0.15);
}

a.card h3 {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 24px;
}

.card-icon {
  color: #3f51b5;
  margin-right: 24px;
  font-size: 24px;
  width: 24px;
  height: 24px;
}
